@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  transition-property: all;
  transition-duration: 0.15s;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
   background-color: #151515;
} 
::-webkit-scrollbar-thumb {
  background-color: #9c9c9c;
  border-radius: 5px;
}
::-moz-scrollbar {
  width: 8px;
}
::-moz-scrollbar-track {

  background-color: #151515;
}
::-moz-scrollbar-thumb {
  background-color: #9c9c9c;
  border-radius: 5px;
}



div::-webkit-scrollbar {
  width: 4px;
}
div::-webkit-scrollbar-track {
  background-color: #000000;
} 
div::-webkit-scrollbar-thumb {
  background-color: #9c9c9c;
  border-radius: 5px;
}
div::-moz-scrollbar {
  width: 4px;
}
div::-moz-scrollbar-track {

  background-color: #000000;
}
div::-moz-scrollbar-thumb {
  background-color: #9c9c9c;
  border-radius: 5px;
}